#### Column names: 

- 1. Bullied_on_school_property_in_past_12_months: 'Bullied' COMBINED WITH 'Not_Bullied_school'
- 2. Bullied_not_on_school_property_in_past_12_months: 'Not_Bullied_school'
- 3. Cyber_bullied_in_past_12_months: 'Cyber_Bullied'
- 4. Custom_Age: 'Age'
- 5. Sex: 'Sex'
- 6. Physically_attacked: 'Physically_attacked'
- 7. Physical_fighting: 'Mean_Physical_fighting'
- 8. Felt_lonely: 'Felt_lonely'
- 10. Close_friends: 'Close_friends'
- 11. Miss_school_no_permission: 'Mean_school_absence'
- 12. Other_students_kind_and_helpful: 'Students_Support'
- 13. Parents_understand_problems: 'Parents_Support'
- 14. Most_of_the_time_or_always_felt_lonely: DROPPED 
- 15. Missed_classes_or_school_without_permission: DROPPED
- 16. Were_underweight: 'Underweight'
- 17. Were_overweight: 'Overweight'
- 18. Were_obese: 'Obese'

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

# https://www.kaggle.com/datasets/leomartinelli/bullying-in-schools/

In [2]:
# loading the csv file
bs = pd.read_csv('bullying_2018.csv', sep= ";")
bs.shape

(56981, 18)

In [3]:
bs

,record,Bullied_on_school_property_in_past_12_months,Bullied_not_on_school_property_in_past_12_months,Cyber_bullied_in_past_12_months,Custom_Age,Sex,Physically_attacked,Physical_fighting,Felt_lonely,Close_friends,Miss_school_no_permission,Other_students_kind_and_helpful,Parents_understand_problems,Most_of_the_time_or_always_felt_lonely,Missed_classes_or_school_without_permission,Were_underweight,Were_overweight,Were_obese
0,1,Yes,Yes,,13 years old,Female,0 times,0 times,Always,2,10 or more days,Never,Always,Yes,Yes,,,
1,2,No,No,No,13 years old,Female,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,No,No,,,
2,3,No,No,No,14 years old,Male,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,No,No,No,No,No
3,4,No,No,No,16 years old,Male,0 times,2 or 3 times,Never,3 or more,0 days,Sometimes,,No,No,No,No,No
4,5,No,No,No,13 years old,Female,0 times,0 times,Rarely,3 or more,0 days,Most of the time,Most of the time,No,No,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,57091,No,Yes,No,16 years old,Male,0 times,4 or 5 times,Sometimes,3 or more,0 days,Sometimes,Sometimes,No,No,No,Yes,No
56977,57092,No,No,No,16 years old,Male,0 times,0 times,Rarely,1,0 days,Sometimes,Never,No,No,,,
56978,57093,No,No,No,16 years old,Male,0 times,0 times,Sometimes,3 or more,0 days,Rarely,Sometimes,No,No,,,
56979,57094,No,Yes,No,16 years old,Female,0 times,0 times,Sometimes,2,0 days,Most of the time,Rarely,No,No,,,
56980,57095,No,Yes,Yes,16 years old,Female,0 times,0 times,Always,2,1 or 2 days,Rarely,Never,Yes,Yes,No,No,No

In [4]:
bs.columns

Index(['record', 'Bullied_on_school_property_in_past_12_months',
       'Bullied_not_on_school_property_in_past_12_months',
       'Cyber_bullied_in_past_12_months', 'Custom_Age', 'Sex',
       'Physically_attacked', 'Physical_fighting', 'Felt_lonely',
       'Close_friends', 'Miss_school_no_permission',
       'Other_students_kind_and_helpful', 'Parents_understand_problems',
       'Most_of_the_time_or_always_felt_lonely',
       'Missed_classes_or_school_without_permission', 'Were_underweight',
       'Were_overweight', 'Were_obese'],
      dtype='object')

In [5]:
bs.dtypes

record                                               int64
Bullied_on_school_property_in_past_12_months        object
Bullied_not_on_school_property_in_past_12_months    object
Cyber_bullied_in_past_12_months                     object
Custom_Age                                          object
Sex                                                 object
Physically_attacked                                 object
Physical_fighting                                   object
Felt_lonely                                         object
Close_friends                                       object
Miss_school_no_permission                           object
Other_students_kind_and_helpful                     object
Parents_understand_problems                         object
Most_of_the_time_or_always_felt_lonely              object
Missed_classes_or_school_without_permission         object
Were_underweight                                    object
Were_overweight                                     object
Were_obese                                          object
dtype: object

In [6]:
# changing the column names
bs = bs.rename(columns={
    'Bullied_on_school_property_in_past_12_months': 'bullied_school',
    'Bullied_not_on_school_property_in_past_12_months': 'not_bullied_school',
    'Cyber_bullied_in_past_12_months': 'cyber_bullied',
    'Custom_Age': 'age',
    'Sex': 'sex',
    'Physically_attacked': 'physically_attacked',
    'Physical_fighting': 'physical_fighting',
    'Felt_lonely': 'felt_lonely',
    'Close_friends': 'close_friends',
    'Miss_school_no_permission': 'miss_school',
    'Other_students_kind_and_helpful': 'students_support',
    'Parents_understand_problems': 'parents_support',
    'Most_of_the_time_or_always_felt_lonely': 'most_of_the_time_or_always_felt_lonely',
    'Missed_classes_or_school_without_permission': 'missed_classes_or_school_without_permission',
    'Were_underweight': 'underweight',
    'Were_overweight': 'overweight',
    'Were_obese': 'obese'
})

In [7]:
bs

,record,bullied_school,not_bullied_school,cyber_bullied,age,sex,physically_attacked,physical_fighting,felt_lonely,close_friends,miss_school,students_support,parents_support,most_of_the_time_or_always_felt_lonely,missed_classes_or_school_without_permission,underweight,overweight,obese
0,1,Yes,Yes,,13 years old,Female,0 times,0 times,Always,2,10 or more days,Never,Always,Yes,Yes,,,
1,2,No,No,No,13 years old,Female,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,No,No,,,
2,3,No,No,No,14 years old,Male,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,No,No,No,No,No
3,4,No,No,No,16 years old,Male,0 times,2 or 3 times,Never,3 or more,0 days,Sometimes,,No,No,No,No,No
4,5,No,No,No,13 years old,Female,0 times,0 times,Rarely,3 or more,0 days,Most of the time,Most of the time,No,No,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,57091,No,Yes,No,16 years old,Male,0 times,4 or 5 times,Sometimes,3 or more,0 days,Sometimes,Sometimes,No,No,No,Yes,No
56977,57092,No,No,No,16 years old,Male,0 times,0 times,Rarely,1,0 days,Sometimes,Never,No,No,,,
56978,57093,No,No,No,16 years old,Male,0 times,0 times,Sometimes,3 or more,0 days,Rarely,Sometimes,No,No,,,
56979,57094,No,Yes,No,16 years old,Female,0 times,0 times,Sometimes,2,0 days,Most of the time,Rarely,No,No,,,
56980,57095,No,Yes,Yes,16 years old,Female,0 times,0 times,Always,2,1 or 2 days,Rarely,Never,Yes,Yes,No,No,No

In [8]:
# create a new column with "Yes" if at least one of the columns is "Yes"
bs['bullied'] = bs.apply(lambda row: 'Yes' if 'Yes' in row.values else 'No', axis=1)

In [9]:
bs = bs.drop(columns = ['record', 'bullied_school', 'not_bullied_school', 'most_of_the_time_or_always_felt_lonely', 
                            'missed_classes_or_school_without_permission'])

In [10]:
bs

,cyber_bullied,age,sex,physically_attacked,physical_fighting,felt_lonely,close_friends,miss_school,students_support,parents_support,underweight,overweight,obese,bullied
0,,13 years old,Female,0 times,0 times,Always,2,10 or more days,Never,Always,,,,Yes
1,No,13 years old,Female,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,,,,No
2,No,14 years old,Male,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,No,No,No,No
3,No,16 years old,Male,0 times,2 or 3 times,Never,3 or more,0 days,Sometimes,,No,No,No,No
4,No,13 years old,Female,0 times,0 times,Rarely,3 or more,0 days,Most of the time,Most of the time,,,,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,No,16 years old,Male,0 times,4 or 5 times,Sometimes,3 or more,0 days,Sometimes,Sometimes,No,Yes,No,Yes
56977,No,16 years old,Male,0 times,0 times,Rarely,1,0 days,Sometimes,Never,,,,No
56978,No,16 years old,Male,0 times,0 times,Sometimes,3 or more,0 days,Rarely,Sometimes,,,,No
56979,No,16 years old,Female,0 times,0 times,Sometimes,2,0 days,Most of the time,Rarely,,,,Yes
56980,Yes,16 years old,Female,0 times,0 times,Always,2,1 or 2 days,Rarely,Never,No,No,No,Yes

In [11]:
# categorical nominal variables
bs_nom = ['bullied', 'cyber_bullied', 'underweight', 'overweight', 'obese']
for column in bs_nom:
    bs[column] = bs[column].replace({'Yes': 1, 'No': 0})

In [12]:
bs['sex'] = bs['sex'].replace({'Female': 1, 'Male': 0})

In [13]:
bs

,cyber_bullied,age,sex,physically_attacked,physical_fighting,felt_lonely,close_friends,miss_school,students_support,parents_support,underweight,overweight,obese,bullied
0,,13 years old,1,0 times,0 times,Always,2,10 or more days,Never,Always,,,,1
1,0,13 years old,1,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,,,,0
2,0,14 years old,0,0 times,0 times,Never,3 or more,0 days,Sometimes,Always,0,0,0,0
3,0,16 years old,0,0 times,2 or 3 times,Never,3 or more,0 days,Sometimes,,0,0,0,0
4,0,13 years old,1,0 times,0 times,Rarely,3 or more,0 days,Most of the time,Most of the time,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,0,16 years old,0,0 times,4 or 5 times,Sometimes,3 or more,0 days,Sometimes,Sometimes,0,1,0,1
56977,0,16 years old,0,0 times,0 times,Rarely,1,0 days,Sometimes,Never,,,,0
56978,0,16 years old,0,0 times,0 times,Sometimes,3 or more,0 days,Rarely,Sometimes,,,,0
56979,0,16 years old,1,0 times,0 times,Sometimes,2,0 days,Most of the time,Rarely,,,,1
56980,1,16 years old,1,0 times,0 times,Always,2,1 or 2 days,Rarely,Never,0,0,0,1

In [14]:
# categorical ordinal variables
bs_ord = ['felt_lonely', 'students_support', 'parents_support']

In [15]:
bs['felt_lonely'].unique()

array(['Always', 'Never', 'Rarely', 'Sometimes', 'Most of the time', ' '],
      dtype=object)

In [16]:
# Ordinal Encoding for 'Felt_lonely' column
encoder = OrdinalEncoder(categories=[[' ', 'Never', 'Rarely', 'Sometimes', 'Most of the time', 'Always']])
bs[['felt_lonely']] = encoder.fit_transform(bs[['felt_lonely']])

In [17]:
bs['students_support'].unique()

array(['Never', 'Sometimes', 'Most of the time', ' ', 'Always', 'Rarely'],
      dtype=object)

In [18]:
# Ordinal Encoding for 'Students_Support' column
encoder = OrdinalEncoder(categories=[[' ', 'Never', 'Rarely', 'Sometimes', 'Most of the time', 'Always']])
bs[['students_support']] = encoder.fit_transform(bs[['students_support']])

In [19]:
bs['parents_support'].unique()

array(['Always', ' ', 'Most of the time', 'Never', 'Sometimes', 'Rarely'],
      dtype=object)

In [20]:
# Ordinal Encoding for 'Parents_Support' column
encoder = OrdinalEncoder(categories=[[' ', 'Never', 'Rarely', 'Sometimes', 'Most of the time', 'Always']])
bs[['parents_support']] = encoder.fit_transform(bs[['parents_support']])

In [21]:
bs

,cyber_bullied,age,sex,physically_attacked,physical_fighting,felt_lonely,close_friends,miss_school,students_support,parents_support,underweight,overweight,obese,bullied
0,,13 years old,1,0 times,0 times,5.0,2,10 or more days,1.0,5.0,,,,1
1,0,13 years old,1,0 times,0 times,1.0,3 or more,0 days,3.0,5.0,,,,0
2,0,14 years old,0,0 times,0 times,1.0,3 or more,0 days,3.0,5.0,0,0,0,0
3,0,16 years old,0,0 times,2 or 3 times,1.0,3 or more,0 days,3.0,0.0,0,0,0,0
4,0,13 years old,1,0 times,0 times,2.0,3 or more,0 days,4.0,4.0,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,0,16 years old,0,0 times,4 or 5 times,3.0,3 or more,0 days,3.0,3.0,0,1,0,1
56977,0,16 years old,0,0 times,0 times,2.0,1,0 days,3.0,1.0,,,,0
56978,0,16 years old,0,0 times,0 times,3.0,3 or more,0 days,2.0,3.0,,,,0
56979,0,16 years old,1,0 times,0 times,3.0,2,0 days,4.0,2.0,,,,1
56980,1,16 years old,1,0 times,0 times,5.0,2,1 or 2 days,2.0,1.0,0,0,0,1

In [22]:
# to extract the digits
bs['age'] = bs['age'].str.extract('(\d+)')
bs['age']

0        13
1        13
2        14
3        16
4        13
         ..
56976    16
56977    16
56978    16
56979    16
56980    16
Name: age, Length: 56981, dtype: object

In [23]:
# to extract the digits
bs['physically_attacked'] = bs['physically_attacked'].str.extract('(\d+)')
bs['physically_attacked']

0        0
1        0
2        0
3        0
4        0
        ..
56976    0
56977    0
56978    0
56979    0
56980    0
Name: physically_attacked, Length: 56981, dtype: object

In [24]:
bs

,cyber_bullied,age,sex,physically_attacked,physical_fighting,felt_lonely,close_friends,miss_school,students_support,parents_support,underweight,overweight,obese,bullied
0,,13,1,0,0 times,5.0,2,10 or more days,1.0,5.0,,,,1
1,0,13,1,0,0 times,1.0,3 or more,0 days,3.0,5.0,,,,0
2,0,14,0,0,0 times,1.0,3 or more,0 days,3.0,5.0,0,0,0,0
3,0,16,0,0,2 or 3 times,1.0,3 or more,0 days,3.0,0.0,0,0,0,0
4,0,13,1,0,0 times,2.0,3 or more,0 days,4.0,4.0,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,0,16,0,0,4 or 5 times,3.0,3 or more,0 days,3.0,3.0,0,1,0,1
56977,0,16,0,0,0 times,2.0,1,0 days,3.0,1.0,,,,0
56978,0,16,0,0,0 times,3.0,3 or more,0 days,2.0,3.0,,,,0
56979,0,16,1,0,0 times,3.0,2,0 days,4.0,2.0,,,,1
56980,1,16,1,0,0 times,5.0,2,1 or 2 days,2.0,1.0,0,0,0,1

In [25]:
### Extract digit groups or ranges
bs['physical_fighting'] = bs['physical_fighting'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')
def process_groups(groups):
    result = []
    for group in groups:
        if group[1]: 
            result.extend(map(str, range(int(group[0]), int(group[1]) + 1)))
        else:
            result.append(group[0])
    return ', '.join(result)

bs['physical_fighting'] = bs['physical_fighting'].apply(process_groups)
bs['physical_fighting']

0           0
1           0
2           0
3        2, 3
4           0
         ...
56976    4, 5
56977       0
56978       0
56979       0
56980       0
Name: physical_fighting, Length: 56981, dtype: object

In [26]:
bs

,cyber_bullied,age,sex,physically_attacked,physical_fighting,felt_lonely,close_friends,miss_school,students_support,parents_support,underweight,overweight,obese,bullied
0,,13,1,0,0,5.0,2,10 or more days,1.0,5.0,,,,1
1,0,13,1,0,0,1.0,3 or more,0 days,3.0,5.0,,,,0
2,0,14,0,0,0,1.0,3 or more,0 days,3.0,5.0,0,0,0,0
3,0,16,0,0,"2, 3",1.0,3 or more,0 days,3.0,0.0,0,0,0,0
4,0,13,1,0,0,2.0,3 or more,0 days,4.0,4.0,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,0,16,0,0,"4, 5",3.0,3 or more,0 days,3.0,3.0,0,1,0,1
56977,0,16,0,0,0,2.0,1,0 days,3.0,1.0,,,,0
56978,0,16,0,0,0,3.0,3 or more,0 days,2.0,3.0,,,,0
56979,0,16,1,0,0,3.0,2,0 days,4.0,2.0,,,,1
56980,1,16,1,0,0,5.0,2,1 or 2 days,2.0,1.0,0,0,0,1

In [27]:
### Get mean
# Extract digit groups or ranges
bs['physical_fighting'] = bs['physical_fighting'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')
def calculate_mean(groups):
    numbers = []
    for group in groups:
        if group[1]:  
            numbers.extend(range(int(group[0]), int(group[1]) + 1))
        else:
            numbers.append(int(group[0]))
    return sum(numbers) / len(numbers) if numbers else None
bs['mean_physical_fighting'] = bs['physical_fighting'].apply(calculate_mean)

In [28]:
### Extract digit groups or ranges
bs['close_friends'] = bs['close_friends'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')
def process_groups(groups):
    result = []
    for group in groups:
        if group[1]: 
            result.extend(map(str, range(int(group[0]), int(group[1]) + 1)))
        else:
            result.append(group[0])
    return ', '.join(result)

bs['close_friends'] = bs['close_friends'].apply(process_groups)

In [29]:
### Extract digit groups or ranges
bs['miss_school'] = bs['miss_school'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')
def process_groups(groups):
    result = []
    for group in groups:
        if group[1]:
            result.extend(map(str, range(int(group[0]), int(group[1]) + 1)))
        else:
            result.append(group[0])
    return ', '.join(result)
bs['miss_school'] = bs['miss_school'].apply(process_groups)

In [30]:
### Get mean
# Extract digit groups or ranges
bs['miss_school'] = bs['miss_school'].str.findall(r'(\d+)(?:\s*-\s*(\d+))?')
def calculate_mean(groups):
    numbers = []
    for group in groups:
        if group[1]:  
            numbers.extend(range(int(group[0]), int(group[1]) + 1))
        else:
            numbers.append(int(group[0]))
    return sum(numbers) / len(numbers) if numbers else None

bs['mean_school_absence'] = bs['miss_school'].apply(calculate_mean)

In [31]:
bs = bs.drop(columns = ['miss_school', 'physical_fighting'])
bs

,cyber_bullied,age,sex,physically_attacked,felt_lonely,close_friends,students_support,parents_support,underweight,overweight,obese,bullied,mean_physical_fighting,mean_school_absence
0,,13,1,0,5.0,2,1.0,5.0,,,,1,0.0,10.0
1,0,13,1,0,1.0,3,3.0,5.0,,,,0,0.0,0.0
2,0,14,0,0,1.0,3,3.0,5.0,0,0,0,0,0.0,0.0
3,0,16,0,0,1.0,3,3.0,0.0,0,0,0,0,2.5,0.0
4,0,13,1,0,2.0,3,4.0,4.0,,,,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,0,16,0,0,3.0,3,3.0,3.0,0,1,0,1,4.5,0.0
56977,0,16,0,0,2.0,1,3.0,1.0,,,,0,0.0,0.0
56978,0,16,0,0,3.0,3,2.0,3.0,,,,0,0.0,0.0
56979,0,16,1,0,3.0,2,4.0,2.0,,,,1,0.0,0.0
56980,1,16,1,0,5.0,2,2.0,1.0,0,0,0,1,0.0,1.5

In [32]:
#bs.replace(' ', 'Unknown', inplace=True)

In [33]:
bs

,cyber_bullied,age,sex,physically_attacked,felt_lonely,close_friends,students_support,parents_support,underweight,overweight,obese,bullied,mean_physical_fighting,mean_school_absence
0,,13,1,0,5.0,2,1.0,5.0,,,,1,0.0,10.0
1,0,13,1,0,1.0,3,3.0,5.0,,,,0,0.0,0.0
2,0,14,0,0,1.0,3,3.0,5.0,0,0,0,0,0.0,0.0
3,0,16,0,0,1.0,3,3.0,0.0,0,0,0,0,2.5,0.0
4,0,13,1,0,2.0,3,4.0,4.0,,,,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,0,16,0,0,3.0,3,3.0,3.0,0,1,0,1,4.5,0.0
56977,0,16,0,0,2.0,1,3.0,1.0,,,,0,0.0,0.0
56978,0,16,0,0,3.0,3,2.0,3.0,,,,0,0.0,0.0
56979,0,16,1,0,3.0,2,4.0,2.0,,,,1,0.0,0.0
56980,1,16,1,0,5.0,2,2.0,1.0,0,0,0,1,0.0,1.5

In [34]:
column_order = ['age', 'sex', 'underweight', 'overweight', 'obese', 'parents_support',
                 'close_friends', 'students_support', 'felt_lonely', 'mean_school_absence',
                 'mean_physical_fighting', 'physically_attacked', 'cyber_bullied', 'bullied']
bs = bs[column_order]

In [35]:
bs

,age,sex,underweight,overweight,obese,parents_support,close_friends,students_support,felt_lonely,mean_school_absence,mean_physical_fighting,physically_attacked,cyber_bullied,bullied
0,13,1,,,,5.0,2,1.0,5.0,10.0,0.0,0,,1
1,13,1,,,,5.0,3,3.0,1.0,0.0,0.0,0,0,0
2,14,0,0,0,0,5.0,3,3.0,1.0,0.0,0.0,0,0,0
3,16,0,0,0,0,0.0,3,3.0,1.0,0.0,2.5,0,0,0
4,13,1,,,,4.0,3,4.0,2.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,16,0,0,1,0,3.0,3,3.0,3.0,0.0,4.5,0,0,1
56977,16,0,,,,1.0,1,3.0,2.0,0.0,0.0,0,0,0
56978,16,0,,,,3.0,3,2.0,3.0,0.0,0.0,0,0,0
56979,16,1,,,,2.0,2,4.0,3.0,0.0,0.0,0,0,1
56980,16,1,0,0,0,1.0,2,2.0,5.0,1.5,0.0,0,1,1

In [36]:
bs.dtypes

age                        object
sex                        object
underweight                object
overweight                 object
obese                      object
parents_support           float64
close_friends              object
students_support          float64
felt_lonely               float64
mean_school_absence       float64
mean_physical_fighting    float64
physically_attacked        object
cyber_bullied              object
bullied                     int64
dtype: object

In [37]:
bs = bs.apply(pd.to_numeric, errors='coerce')

In [38]:
bs

,age,sex,underweight,overweight,obese,parents_support,close_friends,students_support,felt_lonely,mean_school_absence,mean_physical_fighting,physically_attacked,cyber_bullied,bullied
0,13.0,1.0,NaN,NaN,NaN,5.0,2.0,1.0,5.0,10.0,0.0,0.0,NaN,1
1,13.0,1.0,NaN,NaN,NaN,5.0,3.0,3.0,1.0,0.0,0.0,0.0,0.0,0
2,14.0,0.0,0.0,0.0,0.0,5.0,3.0,3.0,1.0,0.0,0.0,0.0,0.0,0
3,16.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,1.0,0.0,2.5,0.0,0.0,0
4,13.0,1.0,NaN,NaN,NaN,4.0,3.0,4.0,2.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56976,16.0,0.0,0.0,1.0,0.0,3.0,3.0,3.0,3.0,0.0,4.5,0.0,0.0,1
56977,16.0,0.0,NaN,NaN,NaN,1.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0,0
56978,16.0,0.0,NaN,NaN,NaN,3.0,3.0,2.0,3.0,0.0,0.0,0.0,0.0,0
56979,16.0,1.0,NaN,NaN,NaN,2.0,2.0,4.0,3.0,0.0,0.0,0.0,0.0,1
56980,16.0,1.0,0.0,0.0,0.0,1.0,2.0,2.0,5.0,1.5,0.0,0.0,1.0,1

In [39]:
bs.dtypes

age                       float64
sex                       float64
underweight               float64
overweight                float64
obese                     float64
parents_support           float64
close_friends             float64
students_support          float64
felt_lonely               float64
mean_school_absence       float64
mean_physical_fighting    float64
physically_attacked       float64
cyber_bullied             float64
bullied                     int64
dtype: object

In [40]:
bs.isna().sum()

age                         108
sex                         536
underweight               20929
overweight                20929
obese                     20929
parents_support               0
close_friends              1076
students_support              0
felt_lonely                   0
mean_school_absence        1864
mean_physical_fighting      268
physically_attacked         240
cyber_bullied               571
bullied                       0
dtype: int64

In [41]:
bs['underweight'].isna().value_counts()

underweight
False    36052
True     20929
Name: count, dtype: int64

In [42]:
bs['underweight'].value_counts()

underweight
0.0    35319
1.0      733
Name: count, dtype: int64

In [43]:
#bs.to_csv('bs_clean.csv', index=True)